@use "../abstracts/" as * ;

.title {

  &--primary {
    font-weight: 400;
    font-size: pxToRem(44);
    line-height: pxToRem(48);
    letter-spacing: -1px;

    @include tablet {
      font-size: pxToRem(32);
      line-height: pxToRem(40);
      letter-spacing: 0;
    }

    @include mobile {
      font-size: pxToRem(20);
      line-height: pxToRem(40);
    }
  }

  &--secondary {
    font-weight: 400;
    font-size: pxToRem(18);
    line-height: pxToRem(30);
    letter-spacing: 1.5px;

    @include tablet {
      font-size: pxToRem(12);
      line-height: pxToRem(16);
      letter-spacing: 1.5px;
    }
  }
}
