<section class="about">
  <div class="container about__container">
    <div class="btn ">
      <figure class="img-main">
        <img src="../assets/icons/ic-prev.svg" alt="pre" loading="lazy" class="pre-btn">
      </figure>
    </div>

    <div class="about-content">
      <h3 class="title--primary about--title">What Clients are say</h3>

      <div class="quote">"</div>

      <p class="desc">
        Businesses at present had creatively generated effective advertising
        campaigns in the form of audio visual media that includes the television
         and radios and the print media that cover the newspaper and campaign materials
         like the posters, brochures, business cards, flyers and many more.
      </p>

      <div class="client">
        <figure class="client--img img-main">
          <picture class="img-main">
            <source
            media="(max-width: 1199px)"
            srcset="../assets/images/tablet/person.png"
            class="img-main"
            >
            <source
            media="(max-width: 767px)"
            srcset="../assets/images/mobile/person.png"
            class="img-main"
            >
            <img
            src="../assets/images/desktop/person.png"
            alt="Ophelia Holland"
            loading="lazy">
          </picture>
        </figure>
        <div class="client--desc">
          <p class="client--name">Ophelia Holland</p>
          <p class="client--link">@ophelia_holland</p>
        </div>
      </div>
      </div>

    <div class="btn ">
      <figure class="img-main">
        <img src="../assets/icons/ic-next.svg" alt="next" loading="lazy" class="next-btn">
      </figure>
    </div>
  </div>
</section>
