<section class="feedback">
  <div class="container feedback__container">
    <p class="title--primary feedback--title">
      What People Say
    </p>
    <div class="feedback__main">
      <article class="feedback__left feedback__slider">
        <p class="quote">,,</p>
        <p class="feedback__content">It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.</p>
        <div class="feedback__client">
          <p class="feedback__name">Seneca the Younger</p>
          <p class="feedback__desc">Editor in okodesign.net</p>
        </div>
        <figure class="img-main feedback__img">
          <picture class="img-main">
            <source
            media="(max-width: 1199px)"
            srcset="../assets/images/tablet/avatar-feedback-1.png"
            class="img-main">
            <img src="../assets/images/desktop/avatar-feedback-1.png" alt="" loading="lazy">
          </picture>
        </figure>
      </article>

      <article class="feedback__right feedback__slider">
        <p class="quote">,,</p>
        <p class="feedback__content">Attending a trade show can be a very effective method of promoting your company and its products.</p>
        <p class="feedback__name">Rachel Moreno</p>
        <p class="feedback__desc">Lead Designer in okodesign.net</p>
        <figure class="img-main feedback__img">
          <picture class="img-main">
            <source
            media="(max-width: 1199px)"
            srcset="../assets/images/tablet/avatar-feedback-2.png"
            class="img-main">
            <source
            media="(max-width: 767px)"
            srcset="../assets/images/mobile/avatar-feedback-2.png"
            class="img-main">
            <img src="../assets/images/desktop/avatar-feedback-2.png" alt="" loading="lazy">
          </picture>
        </figure>
      </article>
    </div>
    <div class="slider-btn">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot dot-m"></div>
      <div class="dot dot-m"></div>
      <div class="dot dot-m"></div>
    </div>
  </div>
</section>
