<section class="products">
  <div class="container products__container">
    <div class="products__top">
      <h1 class="title--primary products--title">
        Recent Products
      </h1>
      <p class="desc">
        Having used discount toner cartridges for
        twenty years, there have been a lot of changes
        in the toner cartridge market. The market today
        is approximately a twenty billion dollar business.
      </p>
    </div>

    <div class="products__main">

      <include
        src="src/components/products-card.html"
        locals= '{
          "cardImg" : "../assets/images/desktop/image-product-1.png",
          "cardTabletImg" : "../assets/images/tablet/image-product-1.png",
          "cardMobileImg" : "../assets/images/mobile/image-product-1.png",
          "productName" : "APP MAINTENANCE",
          "productView" : "91312",
          "productAuthor" : "Lida Morrison, Nettie Burke"
        }'
      ></include>

      <include
        src="src/components/products-card.html"
        locals= '{
          "cardImg" : "../assets/images/desktop/image-product-2.png",
          "cardTabletImg" : "../assets/images/tablet/image-product-2.png",
          "cardMobileImg" : "../assets/images/mobile/image-product-2.png",
          "productName" : "FTA KEYS",
          "productView" : "21083",
          "productAuthor" : "Ivan Alexander, Steven Soto, Clifford Hammond"
        }'
      ></include>

      <include
        src="src/components/products-card.html"
        locals= '{
          "cardImg" : "../assets/images/desktop/image-product-3.png",
          "cardTabletImg" : "../assets/images/tablet/image-product-3.png",
          "cardMobileImg" : "../assets/images/mobile/image-product-3.png",
          "productName" : "SMART WATCH",
          "productView" : "18623",
          "productAuthor" : "Trevor James, Carl Stevenson"
        }'
      ></include>

      <include
        src="src/components/products-card.html"
        locals= '{
          "cardImg" : "../assets/images/desktop/image-product-4.png",
          "cardTabletImg" : "../assets/images/tablet/image-product-4.png",
          "cardMobileImg" : "../assets/images/mobile/image-product-4.png",
          "productName" : "WATCH APPS",
          "productView" : "99999",
          "productAuthor" : "Glen Snyder, Andrew Goodwin, Lida Morrison "
        }'
      ></include>

    </div>
  </div>
</section>
