<section class="register">
  <div class="register__container">
    <h1 class="title--primary register__title">
      Start Selling Instantly
    </h1>
    <div class="register__form-ctn">
      <p class="register__desc">
        Start Selling With Your Pre-paid account. No deposit needed.
      </p>
      <div class="register__form">
        <form action="#" >
          <input type="text" class="input" placeholder="Email">

          <button class="register__form--btn upper-case">register</button>
        </form>
      </div>
    </div>
  </div>
</section>
