@use "../../abstracts/" as * ;

.about {
  background: url(../assets/images/desktop/background-about.png) no-repeat center center / cover;


  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      justify-content: center;
    }
  }

  &-content {
    width: 65%;
    color: $text-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0;

    @include tablet {
      margin: 20px 0 40px;
    }

    @include mobile {
      width: 80%;
    }

    .quote {
      font-size: pxToRem(108);
      line-height: 30%;
      padding-top: pxToRem(40);
      color: $background-color;

      @include tablet {
        display: none;
      }

      @include mobile {
        display: block;
        font-size: pxToRem(70);
        padding-top: pxToRem(20);
      }
    }

    .desc {
      font-size: pxToRem(24);
      line-height: pxToRem(36);
      font-weight: 400;
      margin-bottom: pxToRem(76);

      @include tablet {
        font-size: pxToRem(12);
        line-height: pxToRem(16);
        margin-bottom: pxToRem(40);
      }

      @include mobile {
        font-size: pxToRem(12);
        line-height: pxToRem(16);
      }
    }

    .client {
      display: flex;
      align-items: center;

      &--desc {
        height: 100%;
      }
      &--name {
        color: $background-color;

        @include tablet {
          font-size: 12px;
          line-height: 30px;
        }
      }

      &--link {
        @include tablet {
          font-size: 11px;
          line-height: 30px;
          position: relative;
          top: -15px;
        }
      }

      &--img {
        width: auto;
        margin-right: 29px;
        &  img {
          border-radius: 50%;
          border: 2px transparent solid;
        }
        &:hover img{
          border: 2px $background-color solid;
        }

        @include tablet {
          margin-right: 10px;
        }
      }
    }
  }

  &--title {
    padding-top: 20px;

    @include tablet {
      padding: 20px 0 45px;
    }

    @include mobile {
      padding: 28px 0 0;
    }
  }

  .btn {
    display: inline-block;
    height: 80%;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    .next-btn, .pre-btn {
      height: pxToRem(64);

      @include tablet {
        height: pxToRem(40);
      }
    }
  }

  .img-main {
    display: block;
    object-fit: cover;
    height: auto;
  }
}
