@use "../../abstracts/" as * ;

.contact {
  background: url(../assets/images/desktop/background-contact.png) no-repeat center center / cover ;

  &--title {
    color: $text-white;
  }

  &__container {
    padding-top: 68px;
    width: 60%;
    margin: 0 auto;
    text-align: center;

    @include tablet {
      width: 80%;
      padding-top: 66px;
    }

    @include mobile {
      width: 100%;
      padding-top: 66.5px;
    }
  }

  &__form-ctn {
    width: 38%;
    margin: 52px auto 39px;
    border-radius: 8px;
    background: $text-color;
    padding-top: 48px;
    box-shadow: 0 8px 16px $shadow-primary;

    @include tablet {
      width: 45%;
      margin-top: 48px;
      padding-top: 35px;
    }

    @include mobile {
      width: 80%;
      margin-top: 38.8px;
    }

    .name--input, .email--input, .message--input {
      padding: 9px 15px;
      width: 70%;
      background-color: $background-input;
      border-radius: 4px;
      border: 1px $border-input solid;

      @include tablet {
        font-size: pxToRem(10.76);
        line-height: 12.6px;
      }
    }

    .name--input, .email--input{
      margin-bottom: 24px;
    }

    .message--input {
      margin-bottom: 18px;
      resize: none;

      @include tablet {
        margin-bottom: 21px;
      }
      &::placeholder {
        font-family: $primary-font;
        font-size: pxToRem(14);
        line-height: pxToRem(16);

        @include tablet {
          font-size: pxToRem(10.76);
          line-height: pxToRem(12.6);
        }
      }
    }

    .checkbox-ctn {
      position: relative;
      margin-bottom: 18px;

      @include tablet {
        margin-bottom: 8px;
      }
    }

    .label--check {
      color: $text-white;
      font-size: pxToRem(16);
      line-height: pxToRem(24);
      font-weight: 400;

      @include tablet {
        font-size: pxToRem(10.7556);
        line-height: pxToRem(24);
      }
    }

    #checkbox--input {
      position: absolute;
      left: -25px;
      width: 18px;
      height: 18px;
      accent-color: $primary-color;
      color: $text-white;

      &::after {
        content: "";
        position: absolute;
        display: none;
      }

      @include tablet {
        left: -30px;
      }
    }

    .submit--btn {
      padding: 15px 70px;
      background-color: $primary-color;
      color: $text-color;
      border-radius: 2rem;
      border: none;
      margin-bottom: 24px;
      font-size: pxToRem(16);
      line-height: pxToRem(19);
      cursor: pointer;

      @include tablet {
        padding: 13px 40px;
        margin-bottom: 36px;
        font-size: pxToRem(11);
        line-height: 13px;
        letter-spacing: 1.5px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__info {
    padding-bottom: 50px;
    color: $text-white;
    font-size: pxToRem(18);
    line-height: 30px;

    @include tablet {
      font-size: pxToRem(10.76);
      line-height: 30px;
    }

    @include mobile {
      width: 90%;
      padding-bottom: 25px;
    }
    & > figure, p {
      display: inline-block;
    }

    .icon-ctn {
      padding-left: 10px;

      &:first-child {
        padding-left: 0;

        @include mobile {
          padding-left: 15%;
        }
      }

      @include mobile {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15%;
        margin: 0 auto;
      }

      .icon {
        padding-right: 5px;
        height: 100%;

        @include tablet {
          height: 80%;
        }
      }
    }

  }
}
