@use "../../abstracts" as * ;

.products {
  background-color: $text-white;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;

    @include tablet {
      width: 80%;
      padding-top: 40px;
    }

    .products--title {
      padding-bottom: 24px;

      @include tablet {
        padding-bottom: 11px;
      }
    }

    .desc {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 66px;

      @include tablet {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 38px;
      }

      @include mobile {
        padding-bottom: 20px;
      }
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;

    @include tablet {
      margin-bottom: 48px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      margin-bottom: 24px;
    }
  }

}
