<footer>
  <div class="footer-main">
    <div class="container">
      <div class="footer-main__top">
        <div class="footer-main__col">
          <p class="title upper-case">
            company
          </p>
          <ul class="link-list">
            <include
            src="./src/components/footer-list.html"
            locals='{
              "list": "[`News`, `Blog`, `Testimonials`, `About Us`, `Press Kit`, `Get in Touch`]"
            }'
            ></include>
          </ul>
        </div>
        <div class="footer-main__col">
          <p class="title upper-case">
            products
          </p>
          <ul class="link-list">
            <include
            src="./src/components/footer-list.html"
            locals='{
              "list": "[`UI Kits`, `Icons`, `Wordpress Themes`, `Mock-Ups`]"
            }'
            ></include>
          </ul>
        </div>
        <div class="footer-main__col">
          <p class="title upper-case">
            support
          </p>
          <ul class="link-list">
            <include
            src="./src/components/footer-list.html"
            locals='{
              "list": "[`Community`, `Forum`, `Distributors`, `Privacy Policy`, `Terms of Use`]"
            }'
            ></include>
          </ul>
        </div>
        <div class="footer-main__col">
          <p class="title upper-case">
            customers
          </p>
          <ul class="link-list">
            <include
            src="./src/components/footer-list.html"
            locals='{
              "list": "[`Documentation`, `Tools`, `Downloads`, `Developer Center`]"
            }'
            ></include>
          </ul>
        </div>

      </div>

      <div class="footer-main__bottom">
        <div class="footer-main__coppyright">
          <p>&#169; 2016 Hofmann UI Kit</p>
          <p>Created by Goldenfox — okodesign.net</p>
        </div>

        <div class="footer-main__social">
          <include
            src="./src/components/footer-social.html"
            locals = '{
              "list": "[`ic-linkedin.svg`, `ic-google-plus.svg`, `ic-twitter.svg`, `ic-facebook.svg`, `ic-instagram.svg`]"
            }'
          ></include>
        </div>
      </div>
    </div>
  </div>
</footer>
