<main>
  <include
    src="./src/components/results-sec.html"
  ></include>


  <include
    src="./src/components/about-sec-first.html"
  ></include>

  <include
    src="./src/components/products-sec.html"
  ></include>

  <include
    src="./src/components/register-sec.html"
  ></include>


  <include
    src="./src/components/feedback-sec.html"
  ></include>

  <include
    src="./src/components/plants-sec.html"
  ></include>


  <include
    src="./src/components/contact-sec.html"
  ></include>

</main>
